[submodule "references/temporal-training-exercise-python"]
	path = resources/temporal-training-exercise-python
	url = https://github.com/temporal-sa/temporal-training-exercise-python.git
[submodule "references/samples-typescript"]
	path = resources/samples-typescript
	url = https://github.com/temporalio/samples-typescript.git
[submodule "references/btp-a2a-dispute-resolution"]
	path = btp-a2a-dispute-resolution
	url = https://github.com/steveandroulakis/btp-a2a-dispute-resolution.git
[submodule "intro-temporal-vercel-ai-tutorial"]
	path = intro-temporal-vercel-ai-tutorial
	url = https://github.com/steveandroulakis/intro-temporal-vercel-ai-tutorial.git
